<div class="center jumbotron">
<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="entry_form">
        <%= render 'shared/entry_form' %>
      </section>
    </aside>

    <div class="col-md-8">
      <h3><%= current_user.name %> 's entries</h3>
      <%= render 'shared/show_entries' %>
    </div>
  </div>
  </div>
<% else %>

  <h1>Welcome to the Hoang Nam First project</h1>

  <h2>
    This is Nam first project in Framgia!
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
<%end%>