<% if logged_in? %>
<div class="center jumbotron">
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="entry_form">
        <%= render 'entries/entry_form' %>
      </section>
    </aside>

    <div class="col-md-8">
      <h3>News Feed</h3>
      <%= render 'shared/show_new_feeds' %>
    </div>
  </div>
  </div>

<% else %>
<div class="center jumbotron">
  <h1>Welcome</h1>
  <h2>
    Please login to post entry and follow my account.
    <br> <br>
    Or <%= link_to "Sign up", signup_path %> to create account for free!
  </h2>
  </div>
<%end%>