<li id="entry-<%= entry.id %>">
  <%= link_to gravatar_for(entry.user, size: 50), entry.user %>
  <span class="user"><%= link_to entry.user.name, entry.user %></span>
  <span class="title"> <%= entry.title%> </span>
  <span class="timestamp">
    Posted at <%=entry.created_at%>  
  </span>
  <span>
  	<%= link_to "See more...", entry %><hr>
  </span>
</li>