<% provide(:title, current_entry.title) %>

<div class="row" style="margin-top: 20px;">
  <aside class="col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="title" align="center"><%= current_entry.title %></h4>
        <p align="center">
          Posted <%= time_ago_in_words(current_entry.created_at) %> ago by <%= link_to current_entry.user.name, current_entry.user %>
        </p>
      </div>

      <div class="panel-body">
        <div id="clear-content">
          <%= simple_format(current_entry.content) %>
        </div>
        <div>
          <% if current_user == current_entry.user %>
            <%= link_to "Edit", edit_entry_path(current_entry)  %> | 
            <%= link_to "Delete", current_entry, method: :delete,
                                       data: { confirm: "Are you sure?" } %>
          <% end %>
        </div>
      </div>
      <% if current_entry.user.following?(current_user) || current_user == current_entry.user %>
        <%= render 'comments/comment_form' %>
      <% end %> 
      <p> &nbsp </p>
      <%= render 'comments/show_comment' %>
    </div>
  </aside>
</div>